.profile__image_hover {
    background-size: 26px 26px;
    width: 26px;
    height: 26px;
    position: absolute;
    margin: auto;
    top: 44px;
    left: 44px;
    background-repeat: no-repeat;
    flex-wrap: nowrap;
    margin: auto;
    z-index: 0;
}
.profile__image_hover:hover {
    display: block;
    z-index: 2;
    transition: 0.3s;
}